.el-submenu .el-menu-item {
  font-size: 14px;
  padding-left: 50px !important;

  &.is-active {
    background-color: rgba(254, 108, 108, 0.6) !important;
    color: #fff !important;
  }

  span {
    background-color: rgba(254, 108, 108, 0.6) !important;
    color: #fff !important;
  }
}

//修改以及菜单样式
.el-submenu {
  &.is-active .el-submenu__title {
    background-color: $mainColor !important;
  }
}

// table 样式
.el-table {
  td, th {
    text-align: center !important;
  }

  th {
    font-weight: bold;
    color: #000;
  }
}
/*dialog样式*/
.el-dialog__body {
  padding: 30px 47px !important;
}
.el-dialog__footer{
  text-align: center !important;
  padding: 20px !important;
  .el-button {
    width: 150px;
    margin: 0 11px !important;
  }

}


/*form 样式*/
.el-form {
  .el-form-item:last-child {
    margin-bottom: 0 !important;
  }
}


.avatar-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.avatar-uploader .el-upload:hover {
  border-color: #409EFF;
}
.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 178px;
  height: 178px;
  line-height: 178px;
  text-align: center;
}
.avatar {
  width: 178px;
  height: 178px;
  display: block;
}

